@model RealState.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";

}
@{Layout = "";}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="~/css/userAco/ChangePassword.css">

    <!-- Link For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>

<div class="container">

    <div class="formCode">
        <!-- Login and register navbar -->
        <header>
            <ul class="switch">
                <li> @Html.ActionLink("Login", "Login", "UserAccount", FormMethod.Post)</li>
                <li> @Html.ActionLink("Register", "SignUp", "UserAccount")</li>
            </ul>
        </header>
        <h1>Change Password</h1>
        @using (Html.BeginForm())
        {

            <form action="">

                <!-- password field -->
                <div class="textfield">
                    <!-- password icon -->
                    <i class="fa-solid fa-lock"></i>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "inp", @placeholder = "Enter New Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", style = "color:red; text-align; margin-left:100px;" })

                </div>

                <!-- Confirm Password field -->
                <div class="textfield">
                    <!-- password icon -->
                    <i class="fa-solid fa-lock"></i>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "inp", @placeholder = "Confirm Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", style = "color:red; text-align; margin-left:100px;" })

                </div>


                <div style="margin-top:15px; color:red; font-size:1.2em; text-align:center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
                    @TempData["AlertMessagechangepassword"]
                </div>

                <input type="submit" class="btn" value="Change" />
            </form>
        }



    </div>

    <div class="LoginText">
        <div class="title">
            <h2>Real Estate</h2>
            <div class="bar">
                <p>In Real State website you can buy, sell and rent state in short time,<br> the website is secure...</p>
            </div>
        </div>
    </div>
</div>
